.our-story-card{
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    height: auto;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
    width: 100%;
}
.animation-card-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}
.our-story-card-text {
    flex: 0 1 auto;
    font-size: 1.625rem;
    font-weight: 400;
    height: 100%;
    margin: -2% 0;
    padding: 0 0 0 3rem;
    width: 52%;
    z-index: 3;
}
.our-story-card-title {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}
.our-story-card-subtitle {
    font-size: 1.625rem;
    font-weight: 400;
}
.our-story-card-img-container{
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    width: 48%;
}
.our-story-card-img{
    position: relative;
    z-index: 2;
}
img{
    border: 0;
    height: auto;
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.our-story-card-animation-container{
    margin: -10% -5% -5% 0;
    overflow: hidden;
    position: relative;
}
.our-story-card-animation{
    height: 100%;
    left: 50%;
    max-height: 54%;
    max-width: 73%;
    position: absolute;
    top: 46%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.our-story-card-video{
    height: 100%;
    width: 100%;
}
video{
    display: inline-block;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.second-container{
    display: flex;
    width: 100%;
}
.second-video{
    display: block;
    margin-top:  -15%;
    margin-left: 15px;
    width: 335px;
}
.center-pixel{
    left: 50%;
    position: absolute;
    top: 50%;   
}
