.banner {
  background-image: url(../image/backgroundheader1.2.png);
  background-position: unset;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 625px;
}
.banner .gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 100%,
    rgba(0, 0, 0, 5298494397759104) 100%
  );
  background-size: cover;
  height: 625px;
}
.banner .brand {
  color: #e50914;
  font-size: 35px;
  font-weight: bolder;
  margin-left: 35px;
  margin-top: 25px;
  opacity: 50%;
  position: absolute;
  text-transform: uppercase;

  z-index: 10;
}
.banner .button-group {
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: flex-end;
  margin-left: 1080px;
  margin-top: 35px;
  position: relative;
  width: 250px;
}
.banner .button-group .language {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid #f3f3f3;
  color: #f3f3f3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30px;
  justify-content: flex-end;
  margin: 0;
  margin-right: 25px;
  padding-left: -15px;
  padding-right: 10px;
  width: 115px;
}
.banner .button-group .language .lang-img {
  display: block;
  height: 20px;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: -125px;
  margin-top: 5px;
  width: 20px;
}
.banner .button-group .sign-in {
  background-color: #e50914;
  color: #fff;
  display: block;
  height: 30px;
  margin-left: 5px;
  padding: 2px 2px;
  width: 115px;
}
.banner .button-group .language .down {
  border: none;
  display: block;
  height: 7px;
  margin-left: 5px;
  width: 12px;
}
.banner .card-story {
  color: #f3f3f3;
  display: block;
  margin: 0 auto;
  max-width: 950px;
  margin-left: -1024px;
  margin-top: 180px;
  position: relative;
  width: 800px;
}
.banner .card-story span {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin: 0px auto;
  margin-top: 5px;
}
.banner .card-story .card-title {
  font-size: 4.2rem;
  text-align: center;
}
.banner .card-subtitle {
  font-size: 1.625rem;
  font-weight: 400;
  text-align: center;
}
.banner .card-story .btn {
  background-color: #e50914;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 56px;
  margin-top: -3px;
  width: 186px;
}
.banner .card-story .cta-link-wrapper .right {
  background-color: transparent;
  display: block;
  height: 32px;
  margin: 0px auto;
  margin-top: 5px;
  width: 32px;
}
.email-form {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.email-form .simple-form {
  display: list-item;
  flex: 1 0 auto;
  text-align: -webkit-match-parent;
  vertical-align: top;
}
.input-email {
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: none;
  color: #000;
  display: block;
  font-size: 16px;
  height: 48px;
  padding: 10px 10px 0;
  text-align: center;
  width: 100%
}
.input-id{
  position: relative;
}
.placeLabel{
  cursor: default;
}
.form-title {
  font-size: 16px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-bottom: 20px;
  text-align: center;
}
