.banner {
  background-image: url(../image/backgroundheader1.2.png);
  background-position: unset;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 625px;
}

.banner .button-group {
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: flex-end;
  margin-left: 1080px;
  margin-top: 35px;
  position: relative;
  width: 250px;
}
.banner .button-group .language {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid #f3f3f3;
  color: #f3f3f3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30px;
  justify-content: flex-end;
  margin: 0;
  margin-right: 25px;
  padding-left: -15px;
  padding-right: 10px;
  width: 115px;
}
.banner .button-group .language .lang-img {
  display: block;
  height: 20px;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: -125px;
  margin-top: 5px;
  width: 20px;
}
.banner .button-group .sign-in {
  background-color: #e50914;
  color: #fff;
  display: block;
  height: 30px;
  margin-left: 5px;
  padding: 2px 2px;
  width: 115px;
}
.banner .button-group .language .down {
  border: none;
  display: block;
  height: 7px;
  margin-left: 5px;
  width: 12px;
}
.banner .card-story {
  color: #f3f3f3;
  display: block;
  margin: 0 auto;
  max-width: 950px;
  margin-left: -1024px;
  margin-top: 180px;
  position: relative;
  width: 800px;
}
.banner .card-story span {
  display: block;
  font-size: 24px;
  font-weight: bold;
  height: 20px;
  line-height: 24px;
  margin: 0px auto;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.banner .card-story .card-title {
  font-size: 4.2rem;
  text-align: center;
}
.banner .card-subtitle {
  font-size: 1.625rem;
  font-weight: 400;
  text-align: center;
}
.banner .card-story .btn {
  background-color: #e50914;
  border: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 56px;
  margin-top: -3px;
  opacity: 1;
  width: 200px;
}
.triangulo {
  border-style: solid;
  border-width: 18px;
  height: 8px;
  margin-top: 5px;
  width: 8px;
}
.triangulo > div {
  border-style: solid;
  border-width: 10px;
  display: block;
  height: 8px;
  position: relative;
  width: auto;
}

.triangulo.right {
  border-color: transparent transparent transparent #fff;
}
.triangulo.right > div {
  border-color: transparent transparent transparent rgb(199, 199, 199);
  top: -9.3px;
  left: -19px;
}
.email-form {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.email-form .simple-form {
  /*display: list-item;
  flex: 1 0 auto;
  text-align: -webkit-match-parent;
  vertical-align: top;*/
  margin: 0;
  padding: 0;
}
.simple-form .email-wrapper {
  display: list-item;
  list-style: none;
  margin-bottom: 5px;
  margin-left: 1.1em;
  text-align: -webkit-match-parent;
}
.inputPlacement {
  position: relative;
}
.input-email {
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  color: #000;
  display: inline-block;
  font-size: 16px;
  height: 48px;
  margin-left: 56px;
  padding: 10px auto;
  text-align: center;
  width: 445px;
}
.placeLabel {
  cursor: default;
}
.form-title {
  font-size: 16px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-bottom: 20px;
  text-align: center;
}
.input-email,
.placeLabel {
  font-size: 16px;
}

.placeLabel {
  color: #8c8c8c;
  font-size: 14px;
  left: 65px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
}
