div {
    display: block;
}
.our-story-card {
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
}
.our-story-card {
    border-bottom: none;
    padding-bottom: 0;
}
.our-story-card .our-story-card-no-border {
    border-bottom: none;
    padding-bottom: 0;
}
.footer-card {
    margin: 0 auto;
    max-width: 1000px;
}
.site-footer {
    margin: 0 auto;
    padding-top: 30px;
    width: 90%;
}
.site-footer-wrapper {
    color: #737373;
    font-size: 1em;
    margin-top: 80px;
    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}
.footer-divider {
    display: none;
}
.footer-divider {
    border-top: 1px solid #e6e6e6;
    height: 0;
    width: 100%;
}
.footer-top {
    margin: 0 0 30px;
    padding: 0;
}
.footer-top-a {
    color: #737373;
}
.footer-card .dark .ui-select-wrapper .select-arrow.prefix:before {
    color: #999;
    top: 17px;
}
.ui-label, .ui-label-no-margin {
    color: #8c8c8c;
    display: block;
    font-size: 16px;
    font-weight: 400;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.structural {
    margin: 0;
    padding: 0;
}
.structural>li {
    list-style: none;
    margin-left: 0;
}
ul>li {
    list-style-type: disc;
    margin-bottom: 5px;
    margin-left: 1.1em;
}
a {
    background-color: transparent;
}
.footer-link {
    color: #737373;
    text-decoration: none;
}
.footer-links {
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
}
.footer-link-item {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    width: 25%;
}
select {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
}
.lang-selection-container {
    margin-top: 20px;
}
.lang-selection-container .ui-select-wrapper {
    width: auto;
}
.lang-selection-container .ui-label {
    clip: rect(0 0 0 0);
    border: 0;
    display: block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.footer-card .dark .ui-select-wrapper .select-arrow.prefix:before {
    color: #999;
    top: 17px;
}

.ui-select-wrapper .select-arrow.prefix.globe:before {
    content: "\e896";
}
.lang-selection-container .ui-select-wrapper .select-arrow.prefix:before {
    top: 14px;
}
.ui-select-wrapper .select-arrow.prefix:before {
    color: #000;
    font-family: nf-icon;
    font-size: 16px;
    pointer-events: none;
    position: absolute;
}
.ui-select-wrapper .select-arrow.medium:before {
    left: 15px;
    top: 11px;
}
.footer-card .dark .ui-select-wrapper .select-arrow:after {
    color: #999;
    top: 22px;
}
.ui-select-wrapper .select-arrow.medium:after {
    right: 10px;
    top: 18px;
}
.ui-select-wrapper .select-arrow:after {
    color: #000;
    content: "\e898";
    font-family: nf-icon;
    font-size: 6px;
    pointer-events: none;
    position: absolute;
}
.footer-card .dark .ui-select-wrapper .select-arrow.prefix:before {
    color: #999;
    top: 17px;
}

.ui-select-wrapper .select-arrow.prefix.globe:before {
    content: "\e896";
}
.lang-selection-container .ui-select-wrapper .select-arrow.prefix:before {
    top: 14px;
}
.ui-select-wrapper .select-arrow.prefix:before {
    color: #000;
    font-family: nf-icon;
    font-size: 16px;
    pointer-events: none;
    position: absolute;
}
.ui-select-wrapper .select-arrow.medium:before {
    left: 15px;
    top: 11px;
}
.footer-card .dark .ui-select-wrapper .select-arrow:after {
    color: #999;
    top: 22px;
}
.ui-select-wrapper .select-arrow.medium:after {
    right: 10px;
    top: 18px;
}
.ui-select-wrapper .select-arrow:after {
    color: #000;
    content: "\e898";
    font-family: nf-icon;
    font-size: 6px;
    pointer-events: none;
    position: absolute;
}
.footer-country {
    font-size: 13px;
    margin-top: 24px;
}
.ui-select.medium {
    background-color: transparent;
    padding: 12px;
}
.lang-selection-container .ui-select-wrapper .select-arrow.prefix, .ui-select.medium {
    padding-right: 26px;
    line-height: 1.7;
    /*padding-left: 50px;*/
    text-indent: 0;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}